:root {
    --primary-bg-color: #568ea3;
    --secondary-bg-color: #E96400;
    --main-highlight-color: #a40e4c;
}

::selection {
    background: var(--main-highlight-color); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--main-highlight-color); /* Gecko Browsers */
}


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: white;
}

h1, h2 {
    all: initial;
}

h1, h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 23.5px;
    color: white;
}

.input-div {
  
}
