:root {
    --primary-bg-color: #568ea3;
    --secondary-bg-color: #E96400;
    --main-highlight-color: #a40e4c;
}

::selection {
    background: var(--main-highlight-color); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--main-highlight-color); /* Gecko Browsers */
}


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    height: 100%;
    background-color: var(--primary-bg-color);
    color: white;
}

h1, h2 {
    all: initial;
}

h1, h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 23.5px;
    color: white;
}

noscript {
  text-align: center;
  font-size: 2em;
  color: orange;
  font-style: italic;
  font-weight: bold;
}

a {
  color: white;
}

a:hover {
  color: var(--secondary-bg-color);
}

.input-div-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
}

.input-div {
  height: 50%;
  width: 50%;
  background-color: var(--secondary-bg-color);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.input-box {
  -webkit-appearance: none;
  border-radius: 0;
  margin-top: 1em;
  padding: 0.5em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  outline: none;
  border: 0;
  font-size: 15px;
}

.input-box::-moz-focus-inner {
   border: 0;
}

.input-submit {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 15px;
  text-decoration: none;
  border-radius: 0;
  margin-top: 1em;
  padding: 0.5em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  outline: none;
  cursor: pointer;
  text-align: center;
  background: #0069ed;
  color: white;
  transition: background 250ms ease-in-out,
            transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-submit::-moz-focus-inner {
   border: 0;
}

.input-submit:hover,
.input-submit:focus {
  background: #0053ba;
}

.input-submit:focus {
    outline: 1px solid #fff;
    outline-offset: -1px;
}

.input-submit:active {
    transform: scale(0.99);
}

#footer {
  text-align: center;
  margin-top: 1em;
}

.codons-div-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
}

.codons-container {
  margin-top: 3em;
  width: 85%;
  height: auto;
  background-color: var(--secondary-bg-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#codons {
  line-height: 1em;
  font-size: 1.2em;
}

#codons h2 {
  font-size: 2rem;
}

.main-heading {
  text-align: center;
  margin: 1em;
}

.main-heading h1 {
  font-size: 2em;
}

@media only screen and (max-width: 800px) {
  .input-div {
    width: 100%;
    top: 25%;
  }

  .input-box, .input-submit {
    padding: 1em;
  }

  .codons-container {
    width: 100%;
  }
}
